<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>controllers.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListUser</servlet-name>
        <servlet-class>controllers.User.OrderListUserservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderUserservlet</servlet-name>
        <servlet-class>controllers.User.UpdateOrderUserservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderAdminservlet</servlet-name>
        <servlet-class>controllers.Admin.UpdateOrderAdminservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createorderadminservlet</servlet-name>
        <servlet-class>controllers.Admin.createorderadminservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goadimcreate</servlet-name>
        <servlet-class>controllers.goadimcreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderlistadminservlet</servlet-name>
        <servlet-class>controllers.Admin.orderlistadminservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchorderuserservlet</servlet-name>
        <servlet-class>controllers.User.searchorderuserservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createVehicalservlet</servlet-name>
        <servlet-class>controllers.Admin.createVehicalservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehicleListservlet</servlet-name>
        <servlet-class>controllers.Admin.vehicleListservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>controllers.registerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gohomepage</servlet-name>
        <servlet-class>controllers.gohomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gologinservlet</servlet-name>
        <servlet-class>controllers.gologinservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createorderservlet</servlet-name>
        <servlet-class>controllers.User.createorderservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/registerservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gohomepage</servlet-name>
        <url-pattern>/gohomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gologinservlet</servlet-name>
        <url-pattern>/gologinservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createorderservlet</servlet-name>
        <url-pattern>/createorderservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListUser</servlet-name>
        <url-pattern>/OrderListUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderUserservlet</servlet-name>
        <url-pattern>/UpdateOrderUserservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderAdminservlet</servlet-name>
        <url-pattern>/UpdateOrderAdminservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createorderadminservlet</servlet-name>
        <url-pattern>/createorderadminservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goadimcreate</servlet-name>
        <url-pattern>/goadimcreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderlistadminservlet</servlet-name>
        <url-pattern>/orderlistadminservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchorderuserservlet</servlet-name>
        <url-pattern>/searchorderuserservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createVehicalservlet</servlet-name>
        <url-pattern>/createVehicalservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehicleListservlet</servlet-name>
        <url-pattern>/vehicleListservlet</url-pattern>
    </servlet-mapping>
</web-app>
